{% extends 'base.html.twig' %}

{% block title %}New Apartamento{% endblock %}

{% block body %}
    <h1>Create new Apartamento</h1>

    {{ include('apartamento/_form.html.twig') }}

    <a href="{{ path('apartamento_index') }}">back to list</a>
{% endblock %}
